<app-nav></app-nav>
<div class="ps-breadcrumb">
  <div class="ps-container">
      <ul class="breadcrumb">
          <li><a href="index.html">Inicio</a></li>
          <li>Productos</li>
      </ul>
  </div>
</div>
<div class="ps-page--shop" id="shop-sidebar">
  <div class="container">
      <div class="ps-layout--shop">

          <div class="ps-layout__left">
              <aside class="widget widget_shop">
                  <h4 class="widget-title">Categorías</h4>
                  <ul class="ps-list--categories">
                      <li  class="menu-item-has-children"><a href="shop-default.html">FALTA EL ngFor</a><span class="sub-toggle"><i class="fa fa-angle-down"></i></span>
                          <ul class="sub-menu">
                              <li><a href="shop-default.html">Womens</a>
                              </li>
                              <li><a href="shop-default.html">Mens</a>
                              </li>
                              <li><a href="shop-default.html">Bags</a>
                              </li>
                              <li><a href="shop-default.html">Sunglasses</a>
                              </li>
                              <li><a href="shop-default.html">Accessories</a>
                              </li>
                              <li><a href="shop-default.html">Kid's Fashion</a>
                              </li>
                          </ul>
                      </li>
                      <li *ngFor="let cat of categories">
                        <a href="shop-default.html">{{cat.name}}</a>
                      </li>
                  </ul>
              </aside>
              <!-- <aside class="widget widget_shop">
                  <h4 class="widget-title">BY BRANDS</h4>
                  <form class="ps-form--widget-search" action="do_action" method="get">
                      <input class="form-control" type="text" placeholder="">
                      <button><i class="icon-magnifier"></i></button>
                  </form>
                  <figure class="ps-custom-scrollbar" data-height="250">
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-1" name="brand" />
                          <label for="brand-1">Adidas (3)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-2" name="brand" />
                          <label for="brand-2">Amcrest (1)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-3" name="brand" />
                          <label for="brand-3">Apple (2)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-4" name="brand" />
                          <label for="brand-4">Asus (19)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-5" name="brand" />
                          <label for="brand-5">Baxtex (20)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-6" name="brand" />
                          <label for="brand-6">Adidas (11)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-7" name="brand" />
                          <label for="brand-7">Casio (9)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-8" name="brand" />
                          <label for="brand-8">Electrolux (0)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-9" name="brand" />
                          <label for="brand-9">Gallaxy (0)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-10" name="brand" />
                          <label for="brand-10">Samsung (0)</label>
                      </div>
                      <div class="ps-checkbox">
                          <input class="form-control" type="checkbox" id="brand-11" name="brand" />
                          <label for="brand-11">Sony (0)</label>
                      </div>
                  </figure>
                  <figure>
                      <h4 class="widget-title">By Price</h4>
                      <div id="nonlinear"></div>
                      <p class="ps-slider__meta">Price:<span class="ps-slider__value">$<span class="ps-slider__min"></span></span>-<span class="ps-slider__value">$<span class="ps-slider__max"></span></span></p>
                  </figure>
              </aside> -->
          </div>


          <div class="ps-layout__right">
              <div class="ps-page__header">
                  <h1>PRODUCTOS</h1>
              </div>
              <div class="ps-shopping ps-tab-root">
                  <div class="ps-shopping__header">
                      <p><strong>36</strong> Productos encontrados</p>
                      <div class="ps-shopping__actions">
                          <select class="ps-select" data-placeholder="Sort Items">
                              <option selected disabled>Ordenar por</option>
                              <option>Menor precio</option>
                              <option>Mayor precio</option>
                          </select>
                          <div class="ps-shopping__view">
                              <p>Vistas</p>
                              <ul class="ps-tab-list">
                                  <li class="active"><a href="#tab-1"><i class="icon-grid"></i></a></li>
                                  <li><a href="#tab-2"><i class="icon-list4"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
                  <div class="ps-tabs">
                      <div class="ps-tab active" id="tab-1">
                          <div class="ps-shopping-product">
                              <div class="row">
                                  <div class="col-xl-3 col-lg-4 col-md-4 col-sm-6 col-6" *ngFor="let prod of products">
                                      <div class="ps-product">
                                          <div class="ps-product__thumbnail">
                                            <a href="#">
                                              <img [src]="prod.image" alt="" />
                                            </a>
                                          </div>
                                          <div class="ps-product__container">
                                            <a class="ps-product__vendor" href="#">{{prod.name}}</a>
                                            <div class="ps-product__content">
                                              <p class="ps-product__price">S/{{prod.price}}</p>
                                            </div>
                                            <div class="ps-product__content hover">
                                              <a class="ps-product__title" href="#">{{prod.name}}</a>
                                              <p class="ps-product__price">S/{{prod.price}}</p>
                                            </div>
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                          <div class="ps-pagination">
                              <ul class="pagination">
                                  <li class="active"><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">Next Page<i class="icon-chevron-right"></i></a></li>
                              </ul>
                          </div>
                      </div>

                      <div class="ps-tab" id="tab-2">
                          <div class="ps-shopping-product">
                              <div class="ps-product ps-product--wide" *ngFor="let prod of products">
                                  <div class="ps-product__thumbnail">
                                    <a href="#">
                                      <img [src]="prod.image" alt="" />
                                    </a>
                                  </div>
                                  <div class="ps-product__container">
                                    <div class="ps-product__content">
                                      <a class="ps-product__title" href="product-default.html">{{prod.name}}</a>
                                      <div [innerHTML]="prod.description"></div>
                                      <!-- <p class="ps-product__vendor">
                                        {{prod.description}}
                                      </p> -->
                                    </div>
                                    <div class="ps-product__shopping">
                                      <p class="ps-product__price">S/{{prod.price}}</p>
                                    </div>
                                  </div>
                              </div>
                          </div>
                          <div class="ps-pagination">
                              <ul class="pagination">
                                  <li class="active"><a href="#">1</a></li>
                                  <li><a href="#">2</a></li>
                                  <li><a href="#">3</a></li>
                                  <li><a href="#">Next Page<i class="icon-chevron-right"></i></a></li>
                              </ul>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


<app-footer></app-footer>
