<aside class="ps-block--store-banner">
    <div class="ps-block__user">
        <div class="ps-block__user-avatar">
            <img src="assets/img/vendor/store/user/5.jpg" alt="">
            <div class="br-wrapper">
                <button class="btn btn-primary btn-lg rounded-circle"><i class="fas fa-pencil-alt"></i></button>
            </div>
        </div>
        <div class="ps-block__user-content text-center text-lg-left">
            <h2 class="text-white">Gilbert Maxiliun</h2>
            <p><i class="fas fa-user"></i> maximiluin</p>
            <p><i class="fas fa-envelope"></i> gopro@gmail.com</p>
            <button class="btn btn-warning btn-lg">Cambiar Contraseña</button>
        </div>
        <div class="row ml-lg-auto pt-5">
            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a>
                        <h1><i class="fas fa-shopping-cart text-white"></i></h1>
                        <h4 class="text-white">Ventas <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->

            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a>
                        <h1><i class="fas fa-shopping-bag text-white"></i></h1>
                        <h4 class="text-white">Compras <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->

            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a>
                        <h1><i class="fas fa-bell text-white"></i></h1>
                        <h4 class="text-white">Notificaciones <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->

            <div class="col-lg-3 col-6">
                <div class="text-center">
                    <a>
                        <h1><i class="fas fa-comments text-white"></i></h1>
                        <h4 class="text-white">Mensajes <span class="badge badge-secondary rounded-circle">51</span></h4>
                    </a>
                </div>
            </div><!-- box /-->
        </div>
    </div>
</aside>

<ul class="ps-section__links">
    <li><a [routerLink]="['/account/profile']" routerLinkActive="active" >Mi perfil</a></li>
    <li><a [routerLink]="['/account/wishlist']" routerLinkActive="active" >Lista deseos</a></li>
    <li><a [routerLink]="['/account/shopping']" routerLinkActive="active" >Compras</a></li>
    <li><a [routerLink]="['/account/sales']" routerLinkActive="active" >Ventas</a></li>
</ul>
