.fade {
    display: none;
}

.show {
    display: block;
}

.note-input{
    height: auto;
}
.note-modal-footer .note-btn{
    height: 33px;
}
.note-modal-footer{
    height: 60px!important;
}

.ui-card-post{
    margin: 32px auto 24px;
    width: 800px;
    padding: 0 40px 50px;
}

.ui-card-post .content-title{
    padding: 24px 30px 16px;
    font-size: 20px;
    line-height: 1.5;
    margin: 0;
    font-weight: 600;
    text-transform: uppercase;
    color: #002f34;
}

.categories ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

.categories-dropdown {
    background-color: #fff;
    border: 1px solid #d3d3d3;
    min-width: 260px;
    width: 50%;
}

.categories-dropdown > li {
    padding: 0 20px;
    -webkit-transition: all .4s ease;
    transition: all .4s ease;
    border: 1px solid #d3d3d3;
}

.categories-dropdown > li:hover {
    background-color: #fcb800;
}

.categories-dropdown > li > a {
    display: block;
    padding: 10px 0;
    color: #000;
}

.categories-dropdown > li.has-subcategories .subcategories-dropdown {
    position: absolute;
    top: 85px;
    left: 50%;
    width: auto;
    min-width: 320px;
    visibility: hidden;
    opacity: 0;
    border: 1px solid #d3d3d3;
}

.categories-dropdown > li:hover.has-subcategories .subcategories-dropdown {
    visibility: visible;
    opacity: 1;
}

.ps-list--categories li a:hover {
  color: #fcb800!important;
}

.ps-list--categories li .sub-menu li a:hover {
  color: #fcb800!important;
}

.subcategories-dropdown .subcategories-list li{
    padding: 0 20px;
}

.subcategories-dropdown .subcategories-list li a {
    display: block;
    color: #000;
    line-height: 20px;
    padding: 7px 0;
    font-size: 14px;
    background-color: transparent;
}

.subcategories-dropdown .subcategories-list li:hover {
    background: #fcb800;
}


#product-quickview .modal-dialog {
  max-width: 960px;
}

#product-quickview .modal-dialog .modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 10;
}

#product-quickview .modal-dialog .modal-content {
  position: relative;
  padding: 40px 0 0 20px;
}


#nonlinear {
  width: 90%;
  margin: 10px auto;
}

.noUi-connect {
  background-color: #fcb800;
}

.noUi-horizontal {
  height: 8px;
}

.noUi-handle:before,
.noUi-handle:after {
  display: none;
}

.noUi-horizontal .noUi-handle {
  width: 16px;
  height: 16px;
  left: -17px;
  top: -5px;
}

html:not([dir="rtl"]) .noUi-horizontal .noUi-handle {
  right: -7px;
}

.noUi-handle {
  border: 3px solid #fcb800;
  border-radius: 50%;
  box-shadow: none;
}
