<app-nav></app-nav>

  <div class="ps-vendor-dashboard pro">
    <div class="container">
      <div class="ps-section__header">
        <!--=====================================
        Account Banner
        ======================================-->
        <app-topbar></app-topbar>
        <!--=====================================
        My Sales
        ======================================-->
        <div class="ps-section__content">
          <div class="row">
            <div class="col-12">
                <figure class="ps-block--vendor-status">
                    <figcaption>Órdenes recientes</figcaption>
                    <table class="table ps-table ps-table--vendor">
                      <thead class="text-center">
                        <tr>
                          <th>
                            Código Orden
                          </th>
                          <th>Productos</th>
                          <th>Fecha de compra</th>
                          <th>Tracking</th>
                        </tr>
                      </thead>

                      <tbody>
                        <tr *ngFor="let item of orders">
                          <td>
                            00000{{item.id}}
                          </td>
                          <td>
                            <a [routerLink]="['/info-product/',item.product_id.id,item.product_id.url]">{{item.product_id.name}}</a>
                            <p>S/{{item.product_id.price}}</p>
                          </td>
                          <td>
                            <p>Comprado el: {{item.deliveryDateNow}}</p>
                          </td>
                          <td class="text-center">
                            <button type="button" (click)="estadoTracking(item)" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#updateProccess">Actualizar Proceso</button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="modal fade" id="updateProccess" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h5 class="modal-title text-uppercase" id="exampleModalLabel">Actualización de Tracking <span></span></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Producto: <span class="nameProduct"></span></h5>
              <h5 class="card-title">Precio: <span class="priceProduct"></span></h5>

              <div class="form-group">
                <h5 class="card-title">Estado de Tracking</h5>
                <select class="form-control" name="estado" [(ngModel)]="productOrders.statePO">
                  <option disabled selected value="-1">[Seleccionar Estado]</option>
                  <option value="1">Pendiente</option>
                  <option value="2">Enviado</option>
                  <option value="3">Entregado</option>
                </select>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-warning btn-lg" (click)="updateProccess()">Guardar</button>
        </div>
      </div>
    </div>
</div>

<app-footer></app-footer>
