<!-- ========== Left Sidebar Start ========== -->
<div class="leftside-menu">
    
    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-light">
        <span class="logo-lg">
            <img src="assets/images/logo.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm.png" alt="" height="16">
        </span>
    </a>

    <!-- LOGO -->
    <a href="index.html" class="logo text-center logo-dark">
        <span class="logo-lg">
            <img src="assets/images/logo-dark.png" alt="" height="16">
        </span>
        <span class="logo-sm">
            <img src="assets/images/logo_sm_dark.png" alt="" height="16">
        </span>
    </a>

    <div class="h-100" id="leftside-menu-container" data-simplebar="">
        <!--- Sidemenu -->
        <ul class="side-nav">
            <li class="side-nav-title side-nav-item">Navigation</li>            
            <li class="side-nav-item">
                <a data-bs-toggle="collapse" href="#sidebarDashboards" aria-expanded="false" aria-controls="sidebarDashboards" class="side-nav-link">
                    <i class="uil-home-alt"></i>
                    <span> Dashboard </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-users.html" class="side-nav-link">
                    <i class="uil-users-alt"></i>
                    <span> Usuarios </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-categories.html" class="side-nav-link">
                    <i class="uil-list-ul"></i>
                    <span> Categorías </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-subcategories.html" class="side-nav-link">
                    <i class="uil-table"></i>
                    <span> SubCategorías </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-stores.html" class="side-nav-link">
                    <i class="uil-store"></i>
                    <span> Tiendas </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-products.html" class="side-nav-link">
                    <i class="uil-cart"></i>
                    <span> Productos </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-orders.html" class="side-nav-link">
                    <i class="uil-shopping-basket"></i>
                    <span> Órdenes </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-sales.html" class="side-nav-link">
                    <i class="uil-shopping-trolley"></i>
                    <span> Ventas </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-disputes.html" class="side-nav-link">
                    <i class="uil-comments-alt"></i>
                    <span> Disputas </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-messages.html" class="side-nav-link">
                    <i class="uil-comment-alt-lines"></i>
                    <span> Mensajes </span>
                </a>
            </li>
            <li class="side-nav-item">
                <a href="apps-logout.html" class="side-nav-link">
                    <i class="uil-download-alt"></i>
                    <span> Cerrar Sesión </span>
                </a>
            </li>
        </ul>        
        <!-- End Sidebar -->
        <div class="clearfix"></div>
    </div>
    <!-- Sidebar -left -->
</div>
<!-- Left Sidebar End -->

