<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<app-nav></app-nav>
<body>
<div class="account-pages pt-2 pt-sm-5 pb-4 pb-sm-5">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-xxl-4 col-lg-5">
              <div class="card">
                  <!-- Logo -->
                  <div class="card-header pt-4 pb-4 text-center bg-primary">
                      <a href="index.html">
                          <span><img src="../../../assets/img/template/logo_light.png" alt="" height="18"></span>
                      </a>
                  </div>

                  <div class="card-body p-4">


                    <ul class="nav nav-tabs justify-content-center">
                      <li class="nav-item">
                        <a class="nav-link active"  routerLink="../login" style="font-size:large; font-family: Arial, Helvetica, sans-serif;">Login</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav-link" routerLink="../register" style="font-size:large; font-family: Arial, Helvetica, sans-serif;">Register</a>
                      </li>
                    </ul>

                      <div class="text-center w-75 m-auto">
                          <h4 class="text-dark-50 text-center pb-0 fw-bold "style="margin-top: 20px;" >Iniciar Sesión</h4>
                          <p class="text-muted mb-4">Ingrese su nombre de usuario y contraseña para acceder al panel de administración.</p>
                      </div>

                      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
                          <div class="form-group">
                            <label for="userName" class="form-label">Nombre de usuario</label>
                            <input class="form-control" type="text" name="userName" [(ngModel)]="userName" required="" placeholder="Ingrese su nombre de usuario">
                          </div>
                          <div class="mb-3">
                            <label for="password" class="form-label">Contraseña</label>
                            <div class="input-group input-group-merge">
                                <input type="password" name="password" [(ngModel)]="password" class="form-control" placeholder="Tu contraseña" required="">
                                <div class="input-group-text" data-password="false" onclick="data-password.true"><i class="fa fa-eye-slash fa-2x"></i>
                                </div>
                            </div>
                        </div>
                          <div class="form-group">
                              <div class="ps-checkbox">
                                  <input class="form-control" type="checkbox" id="remember-me" name="remember-me" />
                                  <label for="remember-me">Rememeber me</label>
                              </div>
                          </div>
                          <div class="form-group submtit">
                              <button class="ps-btn ps-btn--fullwidth">Login      <i class="fas fa-sign-in-alt"></i></button>
                          </div>

                        </form>

                  </div>
              </div>
              <!-- end card -->

              <div class="row mt-3">
                  <div class="col-12 text-center">
                      <p class="text-muted">¿No tienes una cuenta? <a href="pages-register.html" class="text-muted ms-1"><b>Registrarse</b></a></p>
                  </div> <!-- end col -->
              </div>
              <!-- end row -->

          </div> <!-- end col -->
      </div>
      <!-- end row -->
  </div>
  <!-- end container -->
</div>

</body>
<app-footer></app-footer>
