<app-nav></app-nav>

<div class="ps-vendor-dashboard pro">
  <div class="container">
    <div class="ps-section__header">
      <!--=====================================
        Account Banner
        ======================================-->
      <app-topbar></app-topbar>
      <!--=====================================
        My Shopping
        ======================================-->
      <div class="ps-section__content">
        <!--=====================================
        My Shopping
        ======================================-->
        <div class="table-responsive mt-40">
          <table id="shopping" class="table" width="100%">
            <thead class="text-center text-uppercase">
              <tr>
                <th>#</th>
                <th style="width: 150px;">Código de compra</th>
                <th>Nombre del producto</th>
                <th>Seguimiento</th>
                <th>Precio</th>
              </tr>
            </thead>

            <tbody class="text-center">
              <!-- Product -->
              <tr *ngFor="let prodOrd of productOrder; let i = index">
                <td>{{i+1}}</td>
                <td>
                  00000{{prodOrd.id}}
                </td>
                <td >
                  <div class="ps-product--cart">
                    <div class="ps-product__thumbnail">
                      <a style="cursor: pointer;" [routerLink]="['/info-product/',prodOrd.product_id.id,prodOrd.product_id.url]">
                        <img src="{{prodOrd.productImage}}" alt="" />
                      </a>
                    </div>

                    <div class="ps-product__content">
                      <a style="cursor: pointer;" [routerLink]="['/info-product/',prodOrd.product_id.id,prodOrd.product_id.url]">
                        {{prodOrd.product_id.name}}
                      </a>
                    </div>
                  </div>
                </td>

                <td>
                  <ul class="timeline">
                    <li class="success">
                      <h5>{{prodOrd.deliveryDateNow}}</h5>
                      <p class="text-success">
                        Pendiente <i class="fas fa-check"></i>
                      </p>
                    </li>
                    <li class="process">
                      <h5>15 Noviembre, 2021</h5>
                      <p>Enviado</p>
                      <button class="btn btn-primary" disabled>
                        <span class="spinner-border spinner-border-sm"></span>
                        En proceso
                      </button>
                    </li>
                    <li class="process">
                      <h5>{{prodOrd.deliveryDate}}</h5>
                      <p>Entregado</p>
                      <button class="btn btn-primary" disabled>
                        <span class="spinner-border spinner-border-sm"></span>
                        En proceso
                      </button>
                    </li>
                  </ul>

                  <!-- <a class="btn btn-danger btn-lg" href="#">Open Dispute</a> -->
                </td>

                <td class="price text-center">S/{{prodOrd.total}}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End My Shopping -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
