<app-nav></app-nav>

<div class="ps-vendor-dashboard pro">
  <div class="container">
    <div class="ps-section__header">
      <!--=====================================
        Account Banner
        ======================================-->
      <app-topbar></app-topbar>
      <!--=====================================
        My Shopping
        ======================================-->
      <div class="ps-section__content">
        <!--=====================================
        My Shopping
        ======================================-->
        <div class="table-responsive">
          <table class="table ps-table--whishlist dt-responsive" width="100%">
            <thead>
              <tr>
                <th>Product name</th>
                <th>Proccess</th>
                <th>Price</th>
                <th>Quantity</th>
              </tr>
            </thead>

            <tbody>
              <!-- Product -->
              <tr>
                <td>
                  <div class="ps-product--cart">
                    <div class="ps-product__thumbnail">
                      <a href="product-default.html">
                        <img src="img/products/clothing/2.jpg" alt="" />
                      </a>
                    </div>

                    <div class="ps-product__content">
                      <a>Unero Military Classical Backpack</a>
                    </div>
                  </div>
                </td>

                <td>
                  <ul class="timeline">
                    <li class="success">
                      <h5>08 Noviembre, 2021</h5>
                      <p class="text-success">
                        Revisado <i class="fas fa-check"></i>
                      </p>
                    </li>
                    <li class="process">
                      <h5>15 Noviembre, 2021</h5>
                      <p>Enviado</p>
                      <button class="btn btn-primary" disabled>
                        <span class="spinner-border spinner-border-sm"></span>
                        En proceso
                      </button>
                    </li>
                    <li class="process">
                      <h5>18 Noviembre, 2021</h5>
                      <p>Entregado</p>
                      <button class="btn btn-primary" disabled>
                        <span class="spinner-border spinner-border-sm"></span>
                        En proceso
                      </button>
                    </li>
                  </ul>

                  <!-- <a class="btn btn-danger btn-lg" href="#">Open Dispute</a> -->
                </td>

                <td class="price text-center">$205.00</td>

                <td class="text-center">1</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- End My Shopping -->
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
